<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Blog Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <p>
        <a title="Official Website" href="http://webbox.io">{% fa_icon home %}</a>
        <a title="GitHub Organization" href="https://github.com/webboxio">{% fa_icon github %}</a>
        <a title="Official Twitter Account" href="https://twitter.com/webboxio">{% fa_icon twitter %}</a>
        <a title="Official Facebook Page" href="https://www.facebook.com/webbox.io">{% fa_icon facebook %}</a>
      </p>
    </nav>

   <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
