---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date_to_long_string }}</span>
    {% if page.writer %}
    <span class="post-writer">
      &mdash; by
      {% if page.writer.url %}
        <a target="_blank" href="{{ page.writer.url }}">
          {{ page.writer.name }}
        </a>
      {% else %}
        {{ page.writer.name }}
      {% endif %}
    </span>
    {% endif %}
  </div>

  {% if page.abstract %}
  <div class="post-abstract">
    {{ page.abstract | markdownify }}
  </div>
  {% endif %}
  {{ content }}
</div>

{% include share.html %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}<br/>
            <small>{{ post.date | date_to_long_string }}</small>
            <small>&mdash; by {{ post.writer.name }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
    {% if site.env == "production" %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_identifier = "{{ site.url }}{{ page.id }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://webboxioblog.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    {% endif %}

</div>
